<div class="shelf">
  <mat-card class="dvd-card" (click)="showCreateForm()">
    <mat-card-content>
      Add DVD
    </mat-card-content>
  </mat-card>
  <app-dvd *ngFor="let dvd of service.dvds" [dvd]="dvd"></app-dvd>
</div>