.shelf {
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  .dvd {
    &-card {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      mat-card-content {
        font-size: 2em;
      }
    }
  }
}