.suggestion {
  &-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 10px;
    >* {
      line-height: 1em;
    }
  }
  &-poster {
    height: 40px;
  }
  .mat-option-text {
    display: flex;
    align-items: center;
  }
}