<h2 mat-dialog-title>
  Add DVD
</h2>
<mat-dialog-content>
  <p>
    <mat-form-field class="full-width">
      <mat-label>Title</mat-label>
      <input cdkFocusInitial
             matInput
             [(ngModel)]="dvd.title"
             [matAutocomplete]="auto"
             (keyup)="onTitleKeyup(dvd.title)" />
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSuggestionSelected($event)">
        <mat-option
          class="suggestion"
          *ngFor="let suggestion of suggestions"
          [value]="suggestion"
        >
          <img class="suggestion-poster" [src]="tmdb.getPosterThumbnail(suggestion)" />
          <div class="suggestion-text">
            <span>{{suggestion.title}}</span>
            <small>{{tmdb.getYearFromResult(suggestion) || ''}}</small>
          </div>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field class="full-width">
      <mat-label>Release date</mat-label>
      <input matInput [(ngModel)]="dvd.releaseDate" />
    </mat-form-field>
  </p>
  <p>
    <mat-form-field class="full-width">
      <mat-label>Rating</mat-label>
      <input matInput [(ngModel)]="dvd.rating" type="number" min="0" max="10" />
    </mat-form-field>
  </p>
  <p>
    <mat-form-field class="full-width">
      <mat-label>Cost</mat-label>
      <input matInput [(ngModel)]="dvd.cost" type="number" />
    </mat-form-field>
  </p>
  <p>
    <mat-form-field class="full-width">
      <mat-label>Director</mat-label>
      <input matInput [(ngModel)]="dvd.director" />
    </mat-form-field>
  </p>
  <p>
    <mat-form-field class="full-width">
      <mat-label>Genre</mat-label>
      <input matInput [(ngModel)]="dvd.genre" />
    </mat-form-field>
  </p>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="addDVD()">Add DVD</button>
</mat-dialog-actions>