$oxford-blue: #001b2eff;
$charcoal: #294c60ff;
$cadet-blue-crayola: #adb6c4ff;
$twilight-lavender: #774c60ff;
$emerald: #45cb85ff;

$body-text: $cadet-blue-crayola;
$primary-background: $oxford-blue;
$secondary-background: $charcoal;
