<mat-card class="dvd-card" [style.background-image]="poster ? 'url(' + poster + ')' : 'none'">
  <!-- <img *ngIf="poster" [src]="poster" [alt]="'Poster for ' + dvd.title" /> -->
  <div [class]="poster ? 'dvd-card-content' : 'dvd-card-content force-visible'">
    <mat-card-header>
      <mat-card-title>{{dvd.title}}</mat-card-title>
      <mat-card-subtitle>{{year}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <ul>
        <li>Released: {{localeReleaseDate}}</li>
        <li>Rating: {{dvd.rating}}/10</li>
        <li>Cost: ${{dvd.cost}}</li>
        <li>Director: {{dvd.director}}</li>
        <li>Genre: {{dvd.genre}}</li>
      </ul>
    </mat-card-content>
  </div>
</mat-card>