@import '../../../styles/colours';

.dvd {
  &-card {
    background-color: $charcoal;
    color: $cadet-blue-crayola;
    overflow: hidden;
    margin: 15px;
    width: 185px;
    height: 278px;
    padding: 0;
    transform: scale(1);
    transition: all 0.3s;
    background-size: contain;
    cursor: pointer;
    &:hover, &:focus {
      transform: scale(1.1);
    }
    &-content {
      color: $cadet-blue-crayola;
      padding: 15px;
      background: #0009;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      transition: all 0.3s;
      opacity: 0;
      &:hover, &.force-visible {
        opacity: 1;
      }
      .mat-card-header {
        justify-content: center;
      }
      .mat-card-title,
      .mat-card-subtitle {
        color: $cadet-blue-crayola;
        text-align: center;
        display: block;
      }
      ul {
        list-style: none;
        padding: 0;
        text-align: center;
      }
    }
  }
}